<div class="wrapper-middle">
  <img src="assets/owl-city.png" class="img-fluid middle-image" alt="" />
  <div class="informative-message" data-aos="fade-in" data-aos-delay="500">
    <h1 class="text-primary">Work in progress</h1>
    <h4 class="text-light">You are way too early😀, come back later or get in touch with us.</h4>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      onclick="window.location.href = 'mailto:gamesorim@gmail.com';"
    >
      Contact us
    </button>
  </div>
</div>
