<div class="wrapper">
  <div class="d-flex h-100">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 bg-secondary"
      style="width: 280px"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <img class="navbar-logo" src="assets/only-logo.png" alt="" srcset="" />
        <span class="fs-4">Dashboard</span>
      </a>
      <hr />
      <ul class="list-group flex-grow-1">
        <li class="list-group-item active"><i class="fa fa-home"></i>Home</li>
        <li class="list-group-item list-group-item-action">
          <i class="fa fa-spinner"></i>In progress
        </li>
        <li class="list-group-item list-group-item-action">
          <i class="fa fa-spinner"></i>In progress
        </li>
      </ul>
      <hr />

      <div class="dropdown">
        <ng-container *ngIf="isLoggedIn$ | async; else notLogged">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              [src]="user.picture"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong>{{ user.nickname }}</strong>
          </a>
        </ng-container>
        <ng-template #notLogged>
          <button
            type="button"
            class="btn btn-primary w-100"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            (click)="login()"
          >
            Login
          </button>
        </ng-template>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" href="#" (click)="logout()">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="container-fluid d-flex justify-content-center align-items-center bg-dark"
    >
      <div class="wrapper-middle">
        <img src="assets/owl-city.png" class="img-fluid middle-image" alt="" />
        <div
          class="informative-message"
          data-aos="fade-in"
          data-aos-delay="500"
        >
          <h1 class="text-primary">Work in progress</h1>
          <h4>
            You are way too early😀, come back later or get in touch with us.
          </h4>
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            onclick="window.location.href = 'mailto:gamesorim@gmail.com';"
          >
            Contact us
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
