.navbar-orim {
  width: 100%;
  height: fit-content;
}

.navbar-logo {
  max-width: 32px;
}

i {
  margin-right: 5px;
}

.last-row {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.sidebar {
  width: 240px;
  transition: width 0.3s ease;
  position: absolute;
  height: 100%;
  z-index: 2;
}
.collapsed {
  width: 100px; /* Ancho reducido */
}
.content {
  position: relative;
  margin: 0;
}
.content-collapsed {
  @extend .content;
  width: calc(100% - 100px);
  right: -100px;
}
.content-extended {
  @extend .content;
  width: calc(100% - 240px);
  right: -240px;
}
