<div class="wrapper">
  <div class="d-flex h-100">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 bg-secondary sidebar {{
        isSidebarOpened() ? 'collapsed' : ''
      }}"
    >
      <div
        class="d-flex align-items-center mb-3 link-dark text-decoration-none justify-content-center"
      >
        <a
          href="https://orimgames.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="navbar-logo mr-3"
            src="assets/only-logo.png"
            alt=""
            srcset=""
          />
        </a>
        @if(!isSidebarOpened()){
        <span class="fs-4 d-none d-lg-flex">Dashboard</span>
        }
      </div>
      <hr />
      <ul class="list-group flex-grow-1">
        @for (route of routesNavigation; track route.path) {
        <li
          class="list-group-item d-flex align-items-center"
          [ngClass]="{ active: router.url == route.path }"
          [routerLink]="[route.path]"
        >
          <i class="{{ route.icon }}"></i>
          @if(!isSidebarOpened()){
          <span class="d-none d-lg-flex text-light">{{
            route.displayText
          }}</span>
          }
        </li>
        }
      </ul>
      <hr />
      <div class="last-row">
        <div class="dropdown">
          @if(!!(isLoggedIn$ | async)){
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            id="dropdownMenuButton"
            aria-expanded="false"
          >
            <img
              [src]="user.picture"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            @if(!isSidebarOpened()){
            <strong class="d-none d-lg-flex">{{ user.nickname }}</strong>
            }
          </a>
          } @else{
          <button
            type="button"
            class="btn btn-primary w-100"
            id="dropdownMenuButton"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            (click)="login()"
          >
            Login
          </button>
          }

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">Sign out</a>
            </li>
          </ul>
        </div>
        <div class="collapse-item d-none d-sm-block">
          <i
            (click)="toggleSidebarOpened()"
            class="pointer {{
              isSidebarOpened()
                ? 'fa-solid fa-angles-up fa-rotate-90'
                : 'fa-solid fa-angles-up fa-rotate-270'
            }}"
          ></i>
        </div>
      </div>
    </div>
    <div
      class="container-fluid d-flex justify-content-center align-items-center bg-dark content {{
        !isSidebarOpened() ? 'content-extended' : 'content-collapsed'
      }}"
    >
      <router-outlet *ngIf="!!userService.stats"></router-outlet>
    </div>
  </div>
</div>
