.wrapper-middle {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  gap: 30px;
  padding: 40px 0px;

  .middle-image {
    border-radius: 20px;
    filter: blur(
      5px
    ); // Ajusta el valor en "px" según el nivel de desenfoque que desees
  }
  .informative-message {
    text-align: center;
    width: 100%;
  }
}
