/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #ffefe4,
  100: #ffd7bc,
  200: #ffbd90,
  300: #ffa264,
  400: #ff8e42,
  500: #ff7a21,
  600: #ff721d,
  700: #ff6718,
  800: #ff5d14,
  900: #ff4a0b,
  A100: #ffffff,
  A200: #fff8f6,
  A400: #ffd0c3,
  A700: #ffbca9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-secondary: (
    50 : #e5e5e7,
    100 : #bebfc4,
    200 : #92949d,
    300 : #666975,
    400 : #464858,
    500 : #25283a,
    600 : #212434,
    700 : #1b1e2c,
    800 : #161825,
    900 : #0d0f18,
    A100 : #5c70ff,
    A200 : #2944ff,
    A400 : #001ff5,
    A700 : #001bdb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

