/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "variables.scss";
@import "ngx-toastr/toastr";

/* Importing Bootstrap SCSS file. */
html,
body {
  height: 100%;
}

.wrapper {
  height: 100vh;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 15px;
}

* {
  color: $fontcolor;
  font-family: "Roboto", sans-serif;
}

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "bootstrap/scss/bootstrap";
.toast-info {
  .toast-title {
    color: $fontcolor;
  }
  .toast-message {
    color: $fontcolor;
  }
}

.list-group-item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lighten($color: $primary, $amount: 5);
  }
}
